/*a {
  color: grey;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

a:hover {
  color: #DF5666;
}*/

/* page content */

div.content {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

/* nav bar */
nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 40px;
 }

nav ul a {
  color: grey;
  letter-spacing: 1px;
  text-decoration: none;
}

nav ul a:hover {
  color: #86AF49;
}

nav ul a:active {
  color: #DF5666;
}

/* home page */
div.filter p {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

div#museum_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div#museum_list ul li {
  letter-spacing: 1px;
  margin: 2px;
}

div#museum_list ul li a {
  color: grey;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

div#museum_list ul li a:hover {
  color: #DF5666;
}

/* add links */
div.add a {
  color: grey;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

div.add a:hover {
  color: #90A7D0;
}

/* museum show page */
div.show h2 {
  color: #35363B;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

div.show p {
  color: #494846;
  font-size: 16px;
  margin-bottom: 25px;
}

div.show p#location {
  text-transform: uppercase;
}

div.collection_list h3 {
  text-transform: uppercase;
}

div.collection_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.collection_list ul li a {
  color: grey;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

div.collection_list ul li a:hover {
  color: #DF5666;
}

/* artwork show page */
div.artwork_show p {
  margin: 10px;
}

div.categories_list a {
  color: grey;
  font-size: 16px;
  text-decoration: none;
}

div.categories_list a:hover {
  color: #58C7D3;
}

div.actions {
  margin-top: 20px;
}

/* category show page */

div.artwork_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.artwork_list li {
  margin: 10px;
}

div.artwork_list ul a {
  color: grey;
  font-size: 16px;
  text-decoration: none;
}

div.artwork_list ul a:hover {
  color: #F77924;
}

/* category index */

div.categories_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.categories_list ul li {
  margin: 7.5px;
}

div.categories_list a#name {
  font-size: 20px;
  text-transform: uppercase;
}

/* user show page */
a#remove {
  color: grey;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

a#remove:hover {
  color: #90A7D0;
}

/* form */
div.field input[type=text]{
    text-align: center;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

div.field textarea {
    width: 50%;
    height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    resize: none;
}

div#comments.actions {
  margin-top: 0px;
}

/* sign in & sign up */
h2 {
  color: #35363B;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

div.field input[type=email]{
    text-align: center;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

div.field input[type=password]{
    text-align: center;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* top */
div.show p a {
  color: grey;
  font-size: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
}

div.show p a:hover {
  color: #E5B655;
}

/* comments */
div.comments a {
  color: grey;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

div.comments ul {
  list-style-type: none;
}
