<div class="show">
  <h2><%= @user.username %>'s list of artworks</h2>
</div>

<div class="artwork_list">
  <ul>
    <% @user.user_artworks.each do |user_artwork| %>
      <li>
        <% if user_artwork%>
          <%= link_to "#{user_artwork.artwork.title} | #{user_artwork.artwork.artist} | #{user_artwork.artwork.year}", museum_artwork_path(user_artwork.artwork.museum, user_artwork.artwork)%><br>
          <%= link_to "Remove", user_artwork_path(user_artwork), method: "delete", id: "remove" %><br>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
