<div class="show">
  <h2>Top 3</h2>
  <p>
    <% @museums.each do |museum| %>
      <%= link_to museum.name, museum_path(museum) %><br>
      <%= pluralize(museum.artworks.count, "artwork")%><br><br>
    <% end %>
  </p>
</div>
