/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* page content */
div.content {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

/* nav bar */
nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
 }

nav ul a:link {
  color: grey;
  letter-spacing: 1px;
  text-decoration: none;
}

nav ul a:visited {
  color: grey;
  letter-spacing: 1px;
  text-decoration: none;
}

nav ul a:hover {
  color: #86AF49;
  letter-spacing: 1px;
  text-decoration: underline;
}

nav ul a:active {
  color: #DF5666;
  letter-spacing: 1px;
  text-decoration: underline;
}

/* home page */
div.filter p {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

div#museum_list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div#museum_list ul li {
  letter-spacing: 1px;
  margin: 2px;
}

div#museum_list ul li a:link {
  color: grey;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

div#museum_list ul li a:visited {
  color: grey;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

div#museum_list ul li a:hover {
  color: #DF5666;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

/* add links */
div.add a:link {
  color: grey;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
}

div.add a:visited {
  color: grey;
  font-size: 14px;
  text-decoration: none;
}

div.add a:hover {
  color: #90A7D0;
  font-size: 14px;
  text-decoration: none;
}
