<div class="show">
  <h2>Choose a Category:</h2>
</div>

<div class="categories_list">
  <ul>
    <% @categories.alphabetical.each do |category| %>
      <li><%= link_to category.name, category_path(category), id: "name" %></li>
    <% end %>
  </ul>
</div>
