<nav>
  <ul>
    <%= link_to "Home", root_path %> |
    <%= link_to "Top Museum", top_museum_path %> |
    <%= link_to "Discover Works by Category", categories_path %> |
    <%= render partial: 'layouts/signin' %>
  </ul>
</nav>
